/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #f38320 transparent;
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #f38320;
  border-radius: 5px;
  border: 1.5px solid transparent;
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-Light.ttf') format('truetype'), url('fonts/Quicksand-Medium.ttf') format('truetype');
}

body {
  background-color: #1a1a1a;
  font-family: "Quicksand", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: navajowhite;
}

a {
  text-decoration: none;
}

#backGround {
  bottom: 0;
  height: 50vh;
  width: 100vw;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* NAV LAYOUT */
nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100vw;
}

.top {
  align-items: center;
  border-bottom: 1px solid rgba(243, 131, 32, .92);
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  width: 100%;
}

.bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-around;
  width: 100%;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  width: 100%;
}

.socials {
  align-items: center;
  border-top: 1px solid rgba(243, 131, 32, .92);
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-around;
  width: 50%;
}

/* NAV STYLES */
.logo {
  height: auto;
  width: calc(4em + 1vw);
}

.dropdown {
  height: auto;
  width: calc(3em + 1vw);
}

.socials img {
  height: auto;
  width: calc(1em + 1vw);
}

.links a {
  color: #ffffff;
  font-size: calc(1.5em + 1vw);
  font-weight: 300;
  text-transform: capitalize;
}

/* HEADER */

header {
  height: 85vh;
  margin-top: 25vh;
  width: 100vw;
  padding: 0 10% 0 10%;
}

/* HEADER STYLES */

.name {
  color: #ffffff;
  font-size: calc(1.2em + 1vw);
  font-weight: 300;
  text-transform: capitalize;
}

.adj {
  color: #ffffff;
  font-size: calc(2.8em + 1vw);
  font-weight: 300;
  text-transform: uppercase;
}

.plus {
  color: #f38320;
  font-size: calc(1.5em + 1vw);
  font-weight: 300;
  text-transform: capitalize;
}

.typewrite {
  color: #ffffff;
  font-size: calc(1em + 1vw);
  font-weight: 300;
  text-transform: capitalize;
}

/* SERVICES */


.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150vh;
  justify-content: space-around;
  margin-left: 15%;
  width: 85vw;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: calc(211px * 2 + 1vh);
  justify-content: space-around;
  width: calc(100px * 2 + 1vw);
}

.text {
  height: 50%;
  width: 100%;
}

.text h3 {
  color: #ffffff;
  font-size: calc(.5em + 1vw);
  text-transform: capitalize;
}

.text p {
  color: #ffffff;
  font-size: calc(.3em + 1vw);
}

model-viewer {
  height: 50%;
  width: 100%;
}

model-viewer#interaction {
  --poster-color: transparent;
}

@media (min-width: 768px) {

  #backGround {
    bottom: 0;
    height: 70vh;
    width: 100%;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  /* NAV LAYOUT */
  nav {
    height: 100vh;
    width: 15vw;
  }

  .top {
    border: none;
    justify-content: center;
  }

  .dropdown {
    display: none;
  }

  .links {
    height: 45%;
  }

  .socials {
    border: none;
    flex-direction: column;
    height: 30%;
  }

  /* NAV STYLES */
  .links a {
    font-size: calc(.5em + 1vw);
    transform: rotate(-90deg);
  }

  /* HEADER LAYOUT */
  header {
    height: 100vh;
    margin: 0 0 0 15%;
    width: 85%;
    padding: 10% 0 0 5%;
  }

  /* HEADER STYLES */
  .name {
    font-size: calc(1.5em + 1vw);
  }

  .adj {
    font-size: calc(4em + 1vw);
  }

  .plus {
    font-size: calc(1.5em + 1vw);
  }

  /* SERVICES */
  .services {
    height: 100vh;
    margin: 0;
  }

  .card {
    flex-direction: row;
    height: calc(200px + 1vh);
    justify-content: flex-start;
    position: relative;
    width: calc(500px + 1vw);
  }

  .text {
    height: 100%;
    width: 50%;
  }

  .text h3 {
    font-size: calc(.3em + 1vw);
  }

  .text p {
    font-size: calc(.1em + 1vw);
  }

  model-viewer {
    height: 100%;
    width: 50%;
  }
}
